[2018-07-08 16:00] Jigar3 opened #3 "Creating A backend for Form Page"
Backend required for submitting Form

[2018-07-08 16:01] Jigar3 opened #4 "Integrate Google Oauth signin feature"
https://www.youtube.com/watch?v=hazMyK_cnzk&t=419s

Might be helpful

[2018-07-08 16:03] Jigar3 opened #5 "Discussion About Further Things to do"
@aadixiiita
Lets discuss here what all features are to be added and improved upon

[2018-08-24 17:28] prateek76 opened #6 "attachment not working"

[2018-08-24 18:36] #6 closed

[2018-11-01 07:52] #5 closed

[2018-11-01 07:52] #3 closed

[2019-01-12 17:26] prateek76 opened #13 "remove scrolling from usersignup page and Remove analytics button from admin dashboard"
Remove scrolling from usersignup.php, it's not needed

[2019-01-12 17:32] prateek76 opened #14 "reduce the width of form in home page and fix the stretched logo"
Reduce the width of form in home page and fix the logo.

![fix2](https://user-images.githubusercontent.com/33982495/51076400-f82f7300-16bd-11e9-8b29-18e23f0ed6fc.png)

[2019-01-12 17:46] Rattlecode17sh commented on #14
@claimboat claim

[2019-01-12 17:49] Rattlecode17sh commented on #14
Can i slove this issue??

[2019-01-12 18:11] prateek76 commented on #14
@Rattlecode17sh yes you can

[2019-01-13 05:09] parag1201 commented on #13
@opencodebot claim

[2019-01-13 06:09] prateek76 commented on #13
assigned

[2019-01-13 12:03] prateek76 opened #16 "Add username when user go to form.php"
Add username $_SESSION['user'] on right position of bar to show who is logged in

![screenshot from 2019-01-13 17-29-48](https://user-images.githubusercontent.com/33982495/51084982-ddf6a300-1758-11e9-9c6e-82dad6bf40e3.png)

[2019-01-13 12:08] prateek76 opened #17 "Complete setup of project with xampp"
Complete setup of project with xampp and run sql code on phpmyadmin to create database. attach screenshots in the comment

[2019-01-13 14:41] mohammed-adil commented on #17
Hey @prateek76 here's the screen shots of project setup and running the application in my machine.

![1](https://user-images.githubusercontent.com/31363829/51086654-33d64580-176f-11e9-909e-25d379a0c39c.png)
![2](https://user-images.githubusercontent.com/31363829/51086656-43ee2500-176f-11e9-8b2b-072385865093.png)
![3](https://user-images.githubusercontent.com/31363829/51086667-5a947c00-176f-11e9-97

[2019-01-13 14:44] mohammed-adil commented on #16
@opencodebot claim

[2019-01-13 14:57] mohammed-adil commented on #16
Hey @prateek76 Do you want to print email id of the user or the name of the user?
Because when i echo $_SESSION['user'], only email id is printed.

[2019-01-13 15:13] prateek76 commented on #16
email will do :+1:

[2019-01-13 16:11] #16 closed

[2019-01-13 16:36] prateek76 opened #19 "use Roboto fonts in all pages"
use Roboto fonts https://fonts.google.com/specimen/Roboto

[2019-01-13 16:41] prateek76 opened #20 "Implement better color coding for state of application"
Implement better color coding for state of application, current color states are temporary

![oc1](https://user-images.githubusercontent.com/33982495/51087964-0645c800-1780-11e9-8b75-f4e1e1b8aeb2.PNG)

there are 4 states of application (Accepted, rejected, pending, not seen)

Suggest new color coding.

Add a note in bottom right corner in admin_dashboard.php and student_dashboard.php.

[2019-01-13 16:53] prateek76 opened #21 "Write css for table in student_dashboard.php and admin_dashboard.php"
Implementation should be similar to this

![oc2](https://user-images.githubusercontent.com/33982495/51088086-8f113380-1781-11e9-9a6f-915641ff4a3e.PNG)

[2019-01-13 17:04] prateek76 opened #22 "Remove background image from sidenav in student dashboard and implement new buttons(on sidenav) in student and admin dashboard page"
Remove background image from sidenav in student dashboard and implement new buttons(on sidenav) in student and admin dashboard page

The background image to be removed from sidenav-

![oc3](https://user-images.githubusercontent.com/33982495/51088236-1ad78f80-1783-11e9-81f3-6e9efcd19613.PNG)

The new buttons design -

![oc4](https://user-images.githubusercontent.com/33982495/51088242-2f1b8c80-1783-

[2019-01-13 18:10] neerajd007 commented on #21
@opencodebot claim

[2019-01-13 18:15] neerajd007 commented on #21
@prateek76 I want to work on this issue.

[2019-01-13 22:38] Kartik2301 commented on #14
@opencodebot claim

[2019-01-14 04:15] mohammed-adil commented on #19
@openbot claim

[2019-01-14 06:10] prateek76 commented on #14
@Kartik2301 assigned to you

[2019-01-14 07:36] Rattlecode17sh commented on #22
@opencode claim

[2019-01-14 08:31] Kartik2301 commented on #14
prateek76 Sir could you please provide me some basic guide lines of how and where to begin

[2019-01-14 09:35] Rattlecode17sh commented on #14
![screenshot 31](https://user-images.githubusercontent.com/38866385/51105005-c3323600-180d-11e9-90a1-41bcfcb25fb4.png)

Here is the screenshot of reduced width and screen size

[2019-01-14 09:53] prateek76 commented on #14
someone already made pr for this issue, you will be first assigned in next issue

also are you having problem in setting it up? tell me where are you stuck

[2019-01-14 09:54] prateek76 commented on #14
@Rattlecode17sh  please reduce more

[2019-01-14 10:02] #19 closed

[2019-01-14 10:11] prateek76 opened #25 "Make admin login page similar to students login page"
Fields required Username, email, password, branch ( ECE and IT ) keep this in selection dropdown,
filename - "adminLogin.php"

[2019-01-14 10:16] Rattlecode17sh commented on #14
okay

[2019-01-14 10:19] Rattlecode17sh commented on #14
![screenshot 32](https://user-images.githubusercontent.com/38866385/51107151-fa0b4a80-1813-11e9-94a2-947da4a14b0c.png)

check this one

[2019-01-14 10:22] mohammed-adil commented on #25
@opencodebot claim

[2019-01-14 10:52] neerajd007 commented on #17
@prateek76 Project setup done!
![screenshot from 2019-01-14 16-17-57](https://user-images.githubusercontent.com/44533403/51108536-8c155200-1818-11e9-809e-bab8f388bb12.png)
![screenshot from 2019-01-14 16-19-58](https://user-images.githubusercontent.com/44533403/51108538-8cade880-1818-11e9-949a-0be385121fdf.png)

[2019-01-14 12:03] prateek76 commented on #25
@mohammed-adil assigned to you

[2019-01-14 12:31] prateek76 commented on #14
@Rattlecode17sh for mobile view can you attach screenshots for that too

[2019-01-14 13:18] Rattlecode17sh commented on #22
Can you pleaese tell where these new buttons are to be placed

[2019-01-14 13:18] Rattlecode17sh commented on #22
Can you pleaese tell me where these new buttons are to be placed

[2019-01-14 14:39] mohammed-adil commented on #25
Hey @prateek76 how am i supposed to verify admin login?
Don't i need to have admin credentials in DB, plus how does branch field work in admin login?
Can you give me a brief of how admin login page should work?

[2019-01-14 14:51] prateek76 commented on #22
![screenshot from 2019-01-14 20-20-10](https://user-images.githubusercontent.com/33982495/51119889-f38fc980-1839-11e9-961c-0a529b99ff17.png)

these buttons similarly in admin dashboard

[2019-01-14 14:58] prateek76 commented on #20
@Rattlecode17sh please complete other issues, max 2 issues can be claimed at once

[2019-01-14 15:12] Rattlecode17sh commented on #14
![screenshot 34](https://user-images.githubusercontent.com/38866385/51121182-cee92100-183c-11e9-92b9-454c40cc85d2.png)

[2019-01-14 17:09] #14 closed

[2019-01-14 20:17] prateek76 commented on #25
you have to only make front end part for this issue

[2019-01-15 06:01] prateek76 opened #27 "Make admin login logic"
Make admin login logic "core/admin-login.php" and set session var as ece and it,also username, email should be added in session var on login.

[2019-01-15 06:03] #25 closed

[2019-01-15 06:46] ShipraGaur commented on #27
@opencodebot claim

[2019-01-15 08:19] prateek76 commented on #27
assigned to @ShipraGaur

[2019-01-15 08:21] prateek76 commented on #13
@parag1201 any progress??

[2019-01-15 09:01] prateek76 opened #28 "squash your commits when making PR"

[2019-01-15 10:08] parag1201 commented on #21
@opencodebot claim

[2019-01-15 10:09] parag1201 commented on #22
@opencodebot claim

[2019-01-15 10:31] prateek76 opened #29 "suggest ideas which can be implemented in the project to make it better"
Selected suggestions will be awarded 20 points, don't make issues just comment it here

[2019-01-15 10:32] prateek76 commented on #21
@neerajd007 are you still working on it?

[2019-01-15 12:08] neerajd007 commented on #21
@prateek76 Yes sir! Hopefully I'll complete it by tonight.

[2019-01-15 12:44] neerajd007 commented on #21
My system is unable to show the changes during runtime.
So I am unable to design the table :( .

[2019-01-15 12:44] neerajd007 commented on #21
@opencodebot unclaim

[2019-01-15 14:26] prateek76 opened #31 "Make home page responsive"
Home page (the login page is not responsive) make it responsive

[2019-01-15 21:03] Rattlecode17sh commented on #22
I will do it by tomorrow as i was working on some other issue

[2019-01-16 16:09] thesmallstar commented on #29
1. The site is not responsive(not only home page  but also Applications page);
2. A calendar should be displayed to select dates( UX)
3. There is no need to ask for email. It will be rollno@iiita.ac.in(i guess)
4. The response after the signup is really weird. ( I would like to fix that) Using a Flash message.
5. Signup page has a very different page style.
6. the feedback systems are mostly alert

[2019-01-16 16:51] prateek76 commented on #29
forgot password is needed now, we will use LDAP integration for that, but all other suggestions looks good to me i will open issues for most of them.

[2019-01-16 16:56] prateek76 opened #32 "The site is not responsive"
Fix responsiveness of site leaving the home page #31

[2019-01-16 16:59] prateek76 opened #33 "A calendar should be displayed to select dates( UX)"
add date picker if you are able to add it to database extra 10 points will be awarded

[2019-01-16 16:59] mohammed-adil commented on #32
@opencodebot claim

[2019-01-16 17:02] prateek76 opened #34 "Use a Flash message after signup also remove alert boxes use flash messages for that too"

[2019-01-16 17:04] prateek76 commented on #29
@thesmallstar can you explain what you want to say in 8th point

[2019-01-16 17:05] mohammed-adil commented on #32
Hey @prateek76 your talking about index.php file?

[2019-01-16 17:06] prateek76 commented on #27
@ShipraGaur any progress??

[2019-01-16 17:08] prateek76 commented on #32
yes

[2019-01-16 17:10] prateek76 commented on #31
@supremenishant any progress ??

[2019-01-16 17:19] mohammed-adil commented on #32
@prateek76 can I create a single CSS file?
It'll be better if one styling file is used throughout the website!

[2019-01-16 18:48] crustyy commented on #31
@opencodebot claim

[2019-01-16 19:06] prateek76 commented on #31
wait till tommorow after that you can solve this

[2019-01-17 01:14] thesmallstar commented on #34
@opencodebot claim

[2019-01-17 01:14] thesmallstar commented on #33
@opencodebot claim

[2019-01-17 01:22] thesmallstar commented on #29
Yes,
![screenshot_6](https://user-images.githubusercontent.com/42006277/51288878-0b2aa600-1a24-11e9-9ec4-a1069c7981d6.png)

I think the link is not working correctly- it should open the specific image/upload related to that application instead- it directly opens the upload folder.
![3](https://user-images.githubusercontent.com/42006277/51288937-3d3c0800-1a24-11e9-8ca7-819dab25dfc1.png)

secondly,

[2019-01-17 14:13] Rattlecode17sh commented on #13
let me know if it is still open

[2019-01-17 14:32] prateek76 commented on #13
it's open you can go ahead

[2019-01-17 14:49] Rattlecode17sh commented on #13
okay

[2019-01-17 16:18] #22 closed

[2019-01-17 16:18] BLJS2warchief commented on #13
@opencodebot claim

[2019-01-17 16:23] thesmallstar commented on #34
@prateek76
The messages that are shown are not correct :(
i.e I am able to register with no name and roll number and a few more
I would First like to fix that before I add flash messages. Since it is a completely different issue please
create a new issue and assign it to me. Thanks :)
![55](https://user-images.githubusercontent.com/42006277/51332710-3c49bb80-1aa2-11e9-9d4a-85c952485e30.png)
![66](

[2019-01-17 16:38] thesmallstar commented on #17
My setup was done as well :)
You have already seen the SS.
thanks.

[2019-01-17 17:10] #33 closed

[2019-01-17 17:12] prateek76 commented on #34
you can comment this in suggestions issue you will get points for that

[2019-01-17 17:15] thesmallstar commented on #29
Please check the above issue as well.
Also, i find that error checking on sign-up page is not correctly done. Even blank inputs are accepted , I would like to fix it, before u add flash messeging.

[2019-01-17 17:17] prateek76 opened #39 "Remove analytics button from admin dashboard"
![lapis1](https://user-images.githubusercontent.com/33982495/51336136-d06b5100-1aa9-11e9-9a72-b6c57381e968.PNG)

[2019-01-17 17:19] prateek76 opened #40 "fix button size in the modal"
![lapis2](https://user-images.githubusercontent.com/33982495/51336229-06a8d080-1aaa-11e9-98aa-ac977b683666.PNG)

accept, reject, pending and close button are going out of the form

[2019-01-17 17:22] prateek76 opened #41 "reduce space b/w buttons in sidenav"
Reduce space and also remove underline on hovering new application button in students_dashboard

[2019-01-17 17:24] prateek76 commented on #34
@thesmallstar  i have updated it here

[2019-01-17 17:30] thesmallstar commented on #41
@opencodebot claim

[2019-01-17 17:31] thesmallstar commented on #41
Sorry, I cannot work on more than two issues at once :)
I am un-claiming the issues

[2019-01-17 17:32] prateek76 commented on #41
you can claim max two issue from each project, please solve other issues

[2019-01-17 18:02] sharmamansi commented on #41
@ opencodebot claim

[2019-01-17 18:03] sharmamansi commented on #41
@opencodebot claim

[2019-01-17 18:45] Rattlecode17sh commented on #39
@opencodebot claim

[2019-01-17 18:49] prateek76 commented on #41
assigned

[2019-01-17 18:50] prateek76 commented on #39
assigned

[2019-01-17 19:48] prateek76 commented on #39
@Rattlecode17sh solve it in #13

[2019-01-17 19:48] #39 closed

[2019-01-17 19:50] prateek76 commented on #13
#21 is open you can solve that

[2019-01-17 20:00] Rattlecode17sh commented on #21
Let me know if this issue is still incomplete

[2019-01-17 20:05] #13 closed

[2019-01-18 16:43] thesmallstar commented on #34
@prateek76, sorry for not updates today.
I was busy with the schedule. I am working now :)

[2019-01-18 21:30] thesmallstar commented on #40
@prateek76  Can you tell me the specific browser you are using?  I couldn't find this issue as I checked in moz , chrome. & edge I am attaching the screenshots.

Moz:
![screenshot_1](https://user-images.githubusercontent.com/42006277/51413841-346b4380-1b96-11e9-8440-830afd069b17.png)

edge:
![3s](https://user-images.githubusercontent.com/42006277/51413873-55cc2f80-1b96-11e9-82be-8dd07828954e.png)

[2019-01-19 05:18] prateek76 commented on #40
@thesmallstar do a pull then try

[2019-01-19 18:21] #40 closed

[2019-01-19 18:26] prateek76 opened #45 "Make a check when submitting the forms for spaces, trim the values"

[2019-01-19 18:43] prateek76 opened #46 "on submitting signup form submit button crosses the form"
![signup](https://user-images.githubusercontent.com/33982495/51430958-40174280-1c48-11e9-8ae5-7c81b85a32a5.PNG)

[2019-01-19 19:21] thesmallstar commented on #46
When I made the last PR I tested and it was fine,
![xxs](https://user-images.githubusercontent.com/42006277/51431324-54aa0980-1c4d-11e9-9bd5-d1209d3f2a69.png)

What might be the problem?

[2019-01-20 05:36] thesmallstar commented on #45
I should not have missed this in my last commit, I will do it :)

[2019-01-20 13:34] Rattlecode17sh commented on #21
@opencodebot unclaim

[2019-01-20 13:36] Rattlecode17sh commented on #21
I am not getting the point how to change the table. Can you please explain it to me

[2019-01-20 13:49] prateek76 commented on #21
reference -  https://colorlib.com/etc/tb/Table_Responsive_v1/index.html

[2019-01-21 18:34] thesmallstar commented on #27
@prateek76 I will work on this :)

[2019-01-22 10:38] thesmallstar commented on #41
@prateek76  Sorry I did not see the updated message that it is assigned to me.
I will work on it.

[2019-01-22 11:13] #45 closed

[2019-01-22 11:46] Rattlecode17sh commented on #21
@opencodebot unclaim

[2019-01-22 18:24] Rattlecode17sh commented on #31
@opencodebot claim

[2019-01-22 19:48] batra-meghna commented on #20
@opencodebot claim

[2019-01-22 19:50] batra-meghna commented on #32
@opencodebot claim

[2019-01-22 20:01] Archies11 commented on #46
@opencodebot claim

[2019-01-22 20:04] Archies11 commented on #46
Can I work on this?

[2019-01-23 07:19] prateek76 commented on #32
assigned

[2019-01-23 07:20] prateek76 commented on #32
@batra-meghna assigned to you

[2019-01-23 07:21] prateek76 commented on #20
@batra-meghna assigned to you

[2019-01-24 09:40] sourabh1031 commented on #32
@prateek76 can i work on this. Please provide me suitable resources

[2019-01-24 09:44] sourabh1031 commented on #21
@opencodebot claim

[2019-01-24 13:59] thesmallstar commented on #27
@prateek76  I find two admin logics. One in the core and one in the root, why is it so? and on which on I need to work on?

[2019-01-24 15:13] thesmallstar commented on #29
@prateek76  in admin_login.php frontend validations can also be added , the admin can select the default "select Branch" and submit using it. I think We can disable the option for selection and only ece and IT option should be selected. I also want to add flash messaging to admin logic. I Consider them as different issues. Please check them :)

![select](https://user-images.githubusercontent.com/4

[2019-01-24 15:47] prateek76 commented on #27
@thesmallstar which file in root?

[2019-01-24 18:02] #27 closed

[2019-01-24 18:15] thesmallstar commented on #21
@prateek76 I will work on it :)

[2019-01-24 18:23] prateek76 opened #50 "add php script to redirect from admin dashboard if not logged in"
Redirect to admin login in that case

[2019-01-24 18:25] prateek76 opened #51 "logout button for admin and student dashboard"
if logged in and anyone opens login page redirect to dashboard for both admin and students #50

[2019-01-24 18:33] prateek76 opened #52 "implement multiple files upload feature"
Currently only one image can be uploaded , implement multiple upload

[2019-01-24 18:35] prateek76 opened #53 "Error on submitting new application"
when submitting new application without uploading image it's showing alert box errors remove that, also remove all alert boxes involved

[2019-01-24 18:38] thesmallstar commented on #52
Sir, if we can take 3 issues at a time.( As I heard from the update) I will claim it. If not I it is open.

[2019-01-24 18:38] thesmallstar commented on #52
I am already on 3 issues , I will wait :)

[2019-01-24 18:39] prateek76 opened #54 "Implement add more files option in students dashboard modal"
![assa](https://user-images.githubusercontent.com/33982495/51700493-4a18b700-2035-11e9-9169-533c64f0a62b.PNG)

so that student can upload images later

[2019-01-24 18:40] prateek76 commented on #52
@thesmallstar you can take 3 issues at a time

[2019-01-24 22:09] Rattlecode17sh commented on #31
Sorry i was busy with some other issues so will definitely do it by tomorrow

[2019-01-25 08:49] thesmallstar commented on #52
I am working on this :)

[2019-01-25 19:23] #51 closed, assigned to nobody

[2019-01-25 20:40] thesmallstar commented on #53
@prateek76  I will work on this :)

[2019-01-26 06:15] Rattlecode17sh commented on #31
Can i get some time i was busy with some other issue

[2019-01-26 19:55] Archies11 commented on #46
No, made multiple tries at different locations of code but wasnt sure if I was going right since my gh-pages link is not generating the edits I have made and instead just shows the readme file.

[2019-01-26 20:00] thesmallstar commented on #46
@Archies11  I have added the feedback texts and the way they have been added, you need to change the box size. You should find the css in the same file, just increase the height by 20-30 px more. Also, github pages wont work here since a backend is involved you need to set it up using Xammp or any equivalents soft. Reach out for help if you need any :)

[2019-01-27 17:58] prateek76 commented on #46
@Archies11 any progress?

[2019-01-27 18:57] Rattlecode17sh commented on #32
@prateek76 is this issue open to solve??...can i solve this??

[2019-01-27 19:05] #31 closed

[2019-01-28 06:34] prateek76 commented on #21
assigned to @vishnuk7

[2019-01-28 06:35] prateek76 commented on #21
@vishnuk7 follow this

[2019-01-28 07:09] #46 closed

[2019-01-28 07:22] prateek76 opened #60 "Remove yellow highlighting on auto complete for all input fields"
remove for all forms

![screenshot from 2019-01-28 12-49-02](https://user-images.githubusercontent.com/33982495/51820344-6e0d1e80-22fb-11e9-8821-cf3863dab061.png)

[2019-01-28 07:30] prateek76 opened #61 "Implement Snackbar / Toast for flashing messages in all forms and dashboards"
![screenshot from 2019-01-28 12-58-30](https://user-images.githubusercontent.com/33982495/51820679-96494d00-22fc-11e9-95d7-86cb9d01af43.png)

remove this types of flash messages and implement snackbar
also flash messages after login and logout

[2019-01-28 07:54] Archies11 commented on #60
@opencodebot claim

[2019-01-28 08:04] prateek76 commented on #60
assigned to @Archies11

[2019-01-28 08:06] prateek76 opened #62 "add color legends for "all applications" section in admin applications table"
add note in bottom right of page to display legends

[2019-01-28 08:07] prateek76 commented on #61
assigned to @anupm12

[2019-01-28 08:10] prateek76 opened #63 "outer border cuts the form at bottom increase its height"
![heighttt](https://user-images.githubusercontent.com/33982495/51822419-4077a380-2302-11e9-9989-8514b8a3f2cb.PNG)

[2019-01-28 08:45] prateek76 commented on #63
assigned to @vishnuk7

[2019-01-28 08:56] thesmallstar commented on #62
I will work on this

[2019-01-29 07:30] Archies11 commented on #60
@opencodebot unclaim
@prateek76 I can't work on this at present

[2019-01-29 07:31] Archies11 commented on #60
Does this repo come under the list of repos under opencodebot?

[2019-01-29 07:37] anupm12 commented on #60
@prateek76 I'll do this

[2019-01-29 08:15] prateek76 commented on #60
@Archies11  are you still working on this?

[2019-01-29 08:50] Archies11 commented on #60
![capture](https://user-images.githubusercontent.com/45824817/51895721-df6ad100-23d0-11e9-869c-ce3b69eb5a17.PNG)
The above is what I found when I tried to search for a possible solution online. Should I disable autocorrect in general?

[2019-01-29 09:01] prateek76 commented on #60
@Archies11 try this https://github.com/prateek76/hack36-wander/blob/master/css/login.css

[2019-01-29 14:32] thesmallstar commented on #52
@prateek76  I am working on this issue :) please give me some time.

[2019-01-29 14:33] thesmallstar commented on #52
@prateek76  I will make a PR in a day.

[2019-01-29 22:58] prateek76 opened #65 "change color on hovering on table rows in admin dashboard implement same as students dashboard"
the color is currently grey on hovering and also same color is used in background of rows,it does not look good

[2019-01-29 23:03] prateek76 opened #66 "Truncate address in applications table"
Don't truncate it from modal
** Do it for both students and admin dashboard
** truncate it to length of 30 or till where it looks good

[2019-01-29 23:13] prateek76 opened #67 "correct placeholder of username input in students login form"

[2019-01-29 23:18] prateek76 commented on #63
@vishnuk7 same is the problem with admin login page, fix for that too

[2019-01-30 02:07] vishnuk7 commented on #66
Can i work this ?

[2019-01-30 02:08] vishnuk7 commented on #67
Can i work on this?

[2019-01-30 05:18] vishnuk7 commented on #63
@prateek76 ok

[2019-01-30 05:59] Rattlecode17sh commented on #32
Can i get one more day

[2019-01-30 16:10] thesmallstar commented on #52
@prateek76  Single file upload feature is also notworking, is there anything else i need to setup before I can get it working? I need to fix single file upload before i can add upload multiple file feature.

[2019-01-30 16:46] prateek76 commented on #52
i don't think so , it's working fine for me. what error are you getting?

[2019-01-30 16:49] #60 closed

[2019-01-30 16:51] thesmallstar commented on #52
@prateek76  No file is added after the form is submitted, no error.

[2019-01-30 17:21] prateek76 opened #69 "move adminlogout.php and studentslogout.php to core folder with logout working"

[2019-01-30 17:24] thesmallstar commented on #69
I will do that.

[2019-01-30 17:38] #53 closed

[2019-01-30 17:56] thesmallstar commented on #52
@prateek76  Ok I am on it.

[2019-01-30 17:59] #69 closed

[2019-01-30 18:01] thesmallstar commented on #29
@prateek76  Please check the above issue I mentioned.  Also the alert boxes can be removed for the login page. Invalid credentials still comes as a alert.

[2019-01-31 11:34] #41 closed

[2019-02-01 08:16] #65 closed

[2019-02-01 12:52] prateek76 commented on #52
@thesmallstar any progress?

[2019-02-01 12:53] prateek76 commented on #52
u don't have to show the files , only moving it to uploads folder will do

[2019-02-01 12:53] prateek76 commented on #66
@vishnuk7 any progress?

[2019-02-01 12:54] prateek76 commented on #67
@vishnuk7 any progress

[2019-02-01 12:57] prateek76 commented on #62
progress ?

[2019-02-01 13:14] prateek76 commented on #63
@vishnuk7 do same for admin login, problem is there too and make a new pr

[2019-02-01 17:24] #67 closed

[2019-02-01 18:33] #63 closed

[2019-02-01 18:54] prateek76 commented on #29
@thesmallstar you cannot login if you don't select the branch so what is the need of removing placeholder?

[2019-02-01 19:10] vishnuk7 commented on #52
Can I work on this?

[2019-02-01 19:12] #66 closed

[2019-02-01 19:13] prateek76 opened #78 "if address length is less than 30 remove "..." from the address in the tables"

[2019-02-01 19:14] vishnuk7 commented on #78
@prateek76  Can I work on this?

[2019-02-01 19:16] prateek76 opened #79 "Truncate purpose field"
Just implement #77 for solving this issue
Truncate upto length of 30

[2019-02-01 19:17] prateek76 commented on #78
@vishnuk7 solve #79 in this issue

[2019-02-01 19:18] vishnuk7 commented on #78
@prateek76 ok

[2019-02-01 19:19] prateek76 commented on #52
@vishnuk7 go ahead

[2019-02-01 19:32] thesmallstar commented on #52
@prateek76 thanks.

[2019-02-01 19:33] vishnuk7 commented on #52
@prateek76 ok 🙂

[2019-02-01 20:08] vishnuk7 commented on #17
@prateek76 my project steup also done!

[2019-02-02 05:33] thesmallstar commented on #61
I will do it :)

[2019-02-02 05:49] thesmallstar commented on #52
@prateek76  I have added the multple fileupload feature the user can now upload multiple images at once, but what about the database structure? It allows only one uploaded image name. Whats hould I do with the database part?

[2019-02-02 07:46] prateek76 commented on #17
Ss

[2019-02-02 07:48] prateek76 commented on #17
Ss or any pr which prooves it @Archies11 @vishnuk7

[2019-02-02 13:14] prateek76 opened #82 "make a check that end date always comes after start date in new application date selection"
You have to disable all previous date in the date picker

[2019-02-02 16:27] prateek76 opened #83 "make multiple uploads visible in table"

[2019-02-02 17:04] thesmallstar commented on #54
I have made a PR for one of my issue, can I claim this ?

[2019-02-02 17:05] vishnuk7 commented on #54
@prateek76 Can I Work on this?

[2019-02-02 17:12] prateek76 commented on #54
@thesmallstar you have more issues assigned let @vishnuk7 work on this for now, after that you can do it

[2019-02-02 17:13] prateek76 commented on #54
@vishnuk7 go ahead

[2019-02-02 17:13] thesmallstar commented on #54
@vishnuk7 all yours :)

[2019-02-02 17:28] prateek76 opened #85 "when attaching more files add preview horizontally"

[2019-02-02 17:30] thesmallstar commented on #85
I would like to work on this :)

[2019-02-02 17:33] thesmallstar commented on #29
@prateek76 yes, sorry I missed that.

[2019-02-02 17:38] thesmallstar commented on #85
@vishnuk7 I made them appear verticle, I know how to make it horizontal, only if  you would allow me to do it or else it is all yours :)

[2019-02-02 17:45] prateek76 commented on #85
@vishnuk7 @thesmallstar how many issues you both have right now?

[2019-02-02 17:49] vishnuk7 commented on #85
@prateek76 2 issues

[2019-02-02 17:50] prateek76 commented on #85
@vishnuk7 issue number?

[2019-02-02 17:52] prateek76 commented on #85
@vishnuk7  #78  is partially solved please solve that first, also you can work on #62
let @thesmallstar work on this

[2019-02-02 17:52] prateek76 commented on #85
@thesmallstar go ahead

[2019-02-02 17:55] prateek76 commented on #85
you already have 3 issues @vishnuk7 you can work on this

[2019-02-02 18:36] vishnuk7 commented on #78
![image](https://user-images.githubusercontent.com/31013847/52167827-3fea6d00-2747-11e9-9a7f-aa841355c565.png)
![image](https://user-images.githubusercontent.com/31013847/52167830-44168a80-2747-11e9-96f3-9c78d1369aa1.png)

@prateek76 check this out
I fixed the problem,now it is working fine

[2019-02-02 18:38] thesmallstar commented on #85
@prateek76 whom did you assign it to?
I am Confused :P

[2019-02-02 18:39] prateek76 commented on #78
@vishnuk7 pr for this

[2019-02-02 18:39] thesmallstar commented on #85
Btw, I am working only on 2 issues.

[2019-02-02 18:39] prateek76 commented on #85
@vishnuk7 you already have 3 issues @thesmallstar

[2019-02-02 18:39] prateek76 commented on #85
issue number?

[2019-02-02 18:43] thesmallstar commented on #85
83,61
@prateek76 let Vishnu work on this.  I will take some other issue. No problem :)

[2019-02-02 18:46] vishnuk7 commented on #78
@prateek76 check my last commit 1e302fc, I already put all changes into that commit

[2019-02-02 19:06] prateek76 commented on #78
make pr for that @vishnuk7

[2019-02-03 09:30] #83 closed

[2019-02-03 09:37] prateek76 opened #88 "add dropdown option for branch and yes/no answers in new application form"
Make sure that data is submitted to database

[2019-02-03 09:42] thesmallstar commented on #88
I will do it :)

[2019-02-03 09:43] thesmallstar commented on #29
@prateek76 , I just noticed We can show "No uploads " instead of just blank box when there are no uploads in student dashboard and admin dashboard.

[2019-02-03 09:44] prateek76 opened #89 "make extension lowercase in application_submission script it is not matching the extension array if extension is in uppercase"
Fix for multiple file uploads

[2019-02-03 09:47] thesmallstar commented on #89
@prateek76 I just tested it. Seems to be working fine.

[2019-02-03 09:50] prateek76 commented on #89
It's not appending file names to database only last file is being added

[2019-02-03 09:52] thesmallstar commented on #89
Worked fine until I made the last pr, I think I messed something, I will fix it.

[2019-02-03 10:05] thesmallstar commented on #89
I merged with master and Did a complete test here is what I got:
1. Upload folder before application:
![ff2](https://user-images.githubusercontent.com/42006277/52175389-15d98f00-27c9-11e9-86ad-0d95324f0839.png)

2. Added files
![f1](https://user-images.githubusercontent.com/42006277/52175397-3ace0200-27c9-11e9-9819-54386b7bf4e2.png)

3. Upload folder after submission:
![ff3](https://user-images.gi

[2019-02-03 10:11] thesmallstar commented on #89
I merged with master and did the following test:
1. Uplload folder before form submission,
![ff2](https://user-images.githubusercontent.com/42006277/52175430-b62fb380-27c9-11e9-8055-f501ec5e8793.png)
2. Added files to form:
![fff1](https://user-images.githubusercontent.com/42006277/52175435-c778c000-27c9-11e9-8e81-d7067a80bce0.png)
3. UPload folder after submission:
![ff4](https://user-images.gith

[2019-02-03 10:15] prateek76 commented on #89
@thesmallstar ok then problem may be on my side maybe xampp is not working properly 👍

[2019-02-03 10:17] thesmallstar commented on #89
@prateek76  Yes, please test, I am also doing it I will comment if I find a bug. :)

[2019-02-03 10:32] prateek76 opened #90 "show "no uploads" in table when no files are uploaded"

[2019-02-03 10:33] prateek76 commented on #29
3

[2019-02-03 11:04] thesmallstar commented on #90
I will add it.

[2019-02-03 18:54] prateek76 commented on #89
@thesmallstar i got the error the images i was uploading was having extension in uppercase , please make extension to lowercase as it was before

[2019-02-03 18:56] thesmallstar commented on #89
Okay, I am doing it.

[2019-02-03 18:57] thesmallstar commented on #89
You mean we need to accept both lowercase and upper case I.e png and PNG Both are acceptable, or anything else?

[2019-02-03 19:05] prateek76 commented on #89
also change redirection linkto "adminLogin.php" from "adminlogin" when admin logout in adminlogout.php locally it dont affect but on other servers it will show 404, it can be case sensitive , like on 000webhostapp deployment

[2019-02-03 19:07] thesmallstar commented on #89
@prateek76 yes, it will be a issue on Linux servers. I will make the change

[2019-02-03 19:14] prateek76 opened #92 "Deployment is live , you can check for any bug there and make comment issues here"
Deployment link - https://iec2017029.000webhostapp.com/

enrollment number- iec2017029
username - iec2017029@iiita.ac.in
password - 123

same for adminlogin -

P.S. - branch ece it has one test data

[2019-02-03 19:32] prateek76 opened #93 "make filters work properly like if there is no pending applications on clicking pending application tab table should show no pending applications"
check here - https://iec2017029.000webhostapp.com/

[2019-02-03 20:56] thesmallstar commented on #93
I have made a PR for two issues, Can i claim this?

[2019-02-03 20:58] thesmallstar commented on #92
I think the PHP warnings and Notices should be disbaled:
check this:
![hahaha](https://user-images.githubusercontent.com/42006277/52182590-8a8de700-2824-11e9-89ef-1df694c8a241.png)

[2019-02-04 06:42] prateek76 commented on #92
@thesmallstar make an issue for this

[2019-02-04 07:00] thesmallstar commented on #92
@prateek76 ok :)

[2019-02-04 08:53] prateek76 opened #95 "star and fork this repo"

[2019-02-04 09:06] thesmallstar commented on #95
done.

[2019-02-04 09:17] thesmallstar opened #96 "Disable PHP Notices and warnings"

[2019-02-04 09:54] Rattlecode17sh commented on #95
https://github.com/Rattlecode17sh/Leave-Application-Portal

[2019-02-04 10:35] vishnuk7 commented on #96
Can I work on this?

[2019-02-04 11:00] vishnuk7 commented on #20
@prateek76 Can I work on this?

[2019-02-04 11:23] prateek76 commented on #20
you can solve #62 first @vishnuk7

[2019-02-04 11:43] #89 closed

[2019-02-04 11:43] #90 closed

[2019-02-04 11:45] #78 closed

[2019-02-04 11:45] #79 closed

[2019-02-04 11:55] prateek76 commented on #96
@vishnuk7 @thesmallstar will decide that he opened this issue , you can find more bugs here #92 and solve them

[2019-02-04 11:55] prateek76 commented on #96
@thesmallstar are you working on this?

[2019-02-04 11:56] prateek76 commented on #54
@vishnuk7 do you need any help?

[2019-02-04 11:56] prateek76 commented on #85
@vishnuk7 do you need any help?

[2019-02-04 11:56] thesmallstar commented on #96
@prateek76  Let @vishnuk7  work on this :)
@vishnuk7  all yours :)

[2019-02-04 12:26] prateek76 opened #97 "add a loader (spinner) while table contents loads everytime"

[2019-02-04 12:38] anupm12 commented on #97
Can I work on this?

[2019-02-04 12:39] anupm12 commented on #95
Done

[2019-02-04 12:44] anupm12 commented on #17
@prateek76 My setup also done
Pr #72 which fixes issue #65

![image](https://user-images.githubusercontent.com/35293695/52568025-ac462a00-2e33-11e9-9e31-6980a1ec71f2.png)

[2019-02-04 14:56] prateek76 opened #99 "add admin username on sidebar below profile image same as in students dashboard"

[2019-02-04 14:58] vishnuk7 commented on #99
can I work on this?

[2019-02-04 14:58] thenullterminator commented on #99
@opencodebot claim

On Mon, Feb 4, 2019, 8:26 PM prateek <notifications@github.com wrote:

[2019-02-04 15:14] vishnuk7 commented on #96
@prateek76 @thesmallstar
Move the session_start(); to top of the page always.
![image](https://user-images.githubusercontent.com/31013847/52216757-0176be80-28bd-11e9-8973-c6492c5eb25b.png)
session_start the first thing you do in your PHP file (so put it at the absolute beginning, before all HTML etc).
https://appositive-writer.000webhostapp.com/usersignup.php
It is working for me

[2019-02-04 15:36] prateek76 commented on #99
@vishnuk7 you have other issues assigned let @thenullterminator solve this

[2019-02-04 15:52] thesmallstar commented on #93
@prateek76  I am little confused what else comes under this issue?, I thought of No applications should be written if there are no applications in the dashboard, and 1-2 more in admin dashboard. Anything else you would suggest?

[2019-02-04 16:13] vishnuk7 commented on #99
@prateek76 ok

[2019-02-04 16:13] prateek76 commented on #93
@thesmallstar like if there are no pending applications but there are 2 accepted applications so if you are in all applications tab and click on pending applications tab all application are displayed now this is the problem you have to show no pending applications in the table

[2019-02-04 16:26] thesmallstar commented on #93
@prateek76  ok :)

[2019-02-04 16:39] thesmallstar commented on #93
I Checked all the sections, Here is what I saw:
I dont see a bug, am I missing something?
![m3](https://user-images.githubusercontent.com/42006277/52222322-47d21a80-28c9-11e9-93a9-19486a52ef69.png)
![m5](https://user-images.githubusercontent.com/42006277/52222323-486ab100-28c9-11e9-9e48-da671839c900.png)
![m1](https://user-images.githubusercontent.com/42006277/52222325-486ab100-28c9-11e9-8850-2d6e

[2019-02-04 16:52] prateek76 commented on #93
check here https://iec2017029.000webhostapp.com/admin_dashboard.php
@thesmallstar
click on new applications as there is no new application it should not display any row in the table instead no new application should be shown

[2019-02-05 05:59] anupm12 commented on #97
@prateek76 Spinner should be added when the page is loading, right?

[2019-02-05 12:49] anupm12 commented on #97
ok @prateek76

[2019-02-05 12:56] anupm12 commented on #97
@prateek76  the spinner is working when the page loads but I'm unable to add it specifically to table.
Can you help me?

[2019-02-05 13:07] prateek76 commented on #97
@anupm12 you can add spinner to the table when the page initially loads and remove it after ajax call in success part

[2019-02-05 13:10] anupm12 commented on #97
ok will try now.

[2019-02-05 13:13] #88 closed

[2019-02-05 13:14] #85 closed

[2019-02-05 14:33] thesmallstar commented on #61
Sorry for no updates I will try to make a pr today :)

[2019-02-05 18:36] prateek76 commented on #96
@vishnuk7 we also have to disable warnings in production

[2019-02-05 18:37] thesmallstar commented on #54
@prateek76  can I work on this?

[2019-02-05 18:43] vishnuk7 commented on #54
@prateek76  @thesmallstar I almost completed give me one more day

[2019-02-05 18:51] Rattlecode17sh commented on #32
Sorry i was busy . Can i work on this issue now??

[2019-02-05 19:05] prateek76 commented on #32
@Rattlecode17sh  go ahead

[2019-02-05 19:14] #93 closed

[2019-02-05 19:24] prateek76 opened #103 "correct snackbar message"

[2019-02-05 19:31] vishnuk7 commented on #97
@prateek76 Can I work on this?

[2019-02-05 19:33] prateek76 commented on #97
@vishnuk7 go ahead

[2019-02-05 20:51] thesmallstar commented on #92
@prateek76 Uploaded images are only visible in ALL application and not in rejected and pending applications.

[2019-02-06 05:16] prateek76 commented on #92
@thesmallstarI did not notice that if that's the problem you can make an issue

[2019-02-06 05:18] prateek76 commented on #92
make issues for both dropdown and this one

[2019-02-06 11:19] thesmallstar opened #105 "Add drop down for branches in form.php"

[2019-02-06 11:19] thesmallstar commented on #105
I am working on this.

[2019-02-06 11:19] thesmallstar opened #106 "Uploads are not visible in all sections of admin_dashboard"

[2019-02-06 11:20] thesmallstar commented on #106
I am working on this. :)

[2019-02-06 13:37] vishnuk7 commented on #103
@prateek76 Can I Work on this?

[2019-02-06 15:59] #105 closed

[2019-02-06 16:00] #106 closed

[2019-02-07 07:38] vishnuk7 commented on #99
@prateek76 Can I work on this?

[2019-02-07 08:59] prateek76 commented on #99
@vishnuk7 👍

[2019-02-07 11:12] thesmallstar commented on #92
@prateek76  Since the admin will be getting many applications, we can create pages for admin dashboard. And display 10-12 applications on each page.

[2019-02-07 11:14] thesmallstar commented on #92
@prateek76  Even if the application is accepted the admin gets the accept application option we can remove that and display options more dynamically.
![nona](https://user-images.githubusercontent.com/42006277/52407941-a2e95480-2af7-11e9-8be5-8d5b5818fbfa.png)

[2019-02-07 11:17] thesmallstar commented on #92
@prateek76
![mew](https://user-images.githubusercontent.com/42006277/52408073-02476480-2af8-11e9-851c-51f022430fdb.png)
Since A student submits his own application we dont need to display his roll number in the student_dashboard section.

[2019-02-07 11:19] thesmallstar commented on #92
@prateek76
Since we already know the student name, can we not direcly fill this field with the student name?

![mewww](https://user-images.githubusercontent.com/42006277/52408117-230fba00-2af8-11e9-8af2-5c3f33c2d438.png)

[2019-02-07 11:44] prateek76 commented on #92
make issue for this

[2019-02-07 11:44] prateek76 commented on #92
make an issue for this

[2019-02-07 11:48] thesmallstar opened #110 "Remove extra options in admin dashboard."

[2019-02-07 11:48] thesmallstar opened #111 "Add pagination to admin dashboard"

[2019-02-07 11:48] thesmallstar commented on #111
Working on this :)

[2019-02-07 11:49] thesmallstar commented on #110
Working on this :)

[2019-02-07 12:04] prateek76 commented on #110
@thesmallstar also add a dialog box when admin accepts the application that you can't undo it, you want to continue...

[2019-02-07 12:08] #54 closed

[2019-02-07 14:50] thesmallstar commented on #110
Then I would have to remove all the options when the application is either accepted and rejected. Is it the expected behavior?

[2019-02-07 17:45] prateek76 commented on #110
@thesmallstar which extra options  are you removing in this issue?

[2019-02-07 17:49] prateek76 commented on #110
only when accepted remove all options let it be student friendly 😄

[2019-02-07 18:20] thesmallstar commented on #110
Oh I see :P

[2019-02-07 20:45] #97 closed

[2019-02-07 20:46] prateek76 opened #113 "spinner only works in all applications section make it work for all sections like pending,rejected ..."
also, center the spinner it's on right now

[2019-02-07 20:50] vishnuk7 commented on #113
Can I work on this?

[2019-02-07 21:05] #103 closed

[2019-02-08 10:15] thesmallstar commented on #110
@prateek76  The buttons are hardcoded in the HTML, I think it is very hard in the all applications section to properly configure the buttons. Since all types of forms are present there i.e pending, rejected and accepted. I can do it for the other 3 sections. What do you suggest for all applications section?

[2019-02-08 16:06] prateek76 commented on #111
@thesmallstar progress?

[2019-02-08 16:17] thesmallstar commented on #111
Facing some issues, I tried various ways none of them seems to be working, any suggestions?

[2019-02-09 06:28] thesmallstar commented on #111
@prateek76  any particular way you would suggest?

[2019-02-09 06:28] thesmallstar commented on #110
@prateek76  I am adding in the other three sections for now.

[2019-02-09 19:21] #113 closed

[2019-02-09 19:23] #29 closed

[2019-02-09 21:50] shivam0211 commented on #95
Done
https://github.com/shivam0211/Leave-Application-Portal

[2019-02-10 06:49] prateek76 commented on #85
@vishnuk7 make new request for points your last request was for 30 points

[2019-02-10 08:21] vishnuk7 commented on #85
@prateek76 ok

[2019-02-10 15:41] vishnuk7 commented on #111
@prateek76 can I work on this?
@thesmallstar are you still working on this?

[2019-02-10 16:02] thesmallstar commented on #111
@vishnuk7 I had added the pagination but is a little buggy. If I could not solve the bug s you can take it :) I was waiting for the reply of my previous question.

[2019-02-10 16:30] thesmallstar commented on #111
@vishnuk7 I just read we can only make a pr till today 12am, in that case if you know how to solve this quickly go for it. I don't care for points I want to make this work before opencode.

[2019-02-10 19:52] #99 closed

[2019-02-10 19:55] prateek76 commented on #111
@thesmallstar what's the bug?

[2019-02-10 19:57] thesmallstar commented on #111
I added jQuery datatable, and modified it according to the dynamically added rows. Although pagination is added, it is not recognizing rows that are added and instead shows no data.  Not sure why this would happen, it does work on other pages I tested.

[2019-02-12 16:18] LalitSharma7 commented on #17
My Setup also done @prateek76  you can check my previous PR...i solved 5 issues in this project
#58  , #35, #31 ,